h2 {
  color: #0084b4;
}

.axis path,
.axis line {
  fill: none;
  stroke: #95a5a6;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #95a5a6;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #0084b4;
  stroke-width: 1.5px;
}