<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    Top <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a class="dropdown-item" href="#">Word</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">@Mention</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">#Hashtag</a></li>

  </ul>
</div>


<div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      Scale <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem"><a class="dropdown-item" href="#">Logarithmic</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Normal</a></li>
    </ul>
  </div>