<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    Top <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem" (click)="selectBy('Words')"><a class="dropdown-item" href="#">Word</a></li>
    <li role="menuitem" (click)="selectBy('Mention')"><a class="dropdown-item" href="#">@Mention</a></li>
    <li role="menuitem" (click)="selectBy('Hashtag')"><a class="dropdown-item" href="#">#Hashtag</a></li>

  </ul>
</div>


<div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      Scale <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem" (click)="transform('log')"><a class="dropdown-item" href="#">Logarithmic</a></li>
      <li role="menuitem" (click)="transform('normal')"><a class="dropdown-item" href="#">Normal</a></li>
    </ul>
  </div>

  <div>
    <angular-tag-cloud
      [data]="data"
      [width]="options.width"
      [height]="options.height"
      [overflow]="options.overflow"
      (clicked)="wordClicked($event)">
      Chargement ...
    </angular-tag-cloud>
  </div>